//contact
.icon-bg {
  font-size: 1.7rem;
}

.contact-link {
  width: inherit;
  color: $primary;
  font-size: 1.2rem;
  font-weight: 300 !important;
}

h4 {
  font-size: 1.7rem;
  font-weight: 300;
}
